body {
    background: #f3dc33;
    color: black;
    font-family: 'Frutiger';
    padding-top: 4rem;
}

h4, h5, p span, nav {
    font-family: "Frutiger Bold";
}

nav, .nome {
    font-size: 1.2rem;
}

.navbar-brand {
    padding-left: 3rem;
    margin-left: 3rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: #3dbaa9;
}

.bg-black {
    background-color: black;
}

a.anchor {
    display: block;
    position: relative;
    top: -8rem;
}

.card-img-top {
    max-width: 512px;
}

#marker {
    max-height: 512px;
}

@font-face {
    font-family: 'Frutiger';
    font-style: normal;
    font-weight: normal;
    src: url('assets/font/Frutiger.woff') format('woff');
    }
     
@font-face {
    font-family: 'Frutiger Bold';
    font-style: normal;
    font-weight: normal;
    src: url('assets/font/Frutiger_bold.woff') format('woff');
    }

@media (max-width: 991px) {

    .navbar-brand {
        padding-left: 2rem;
        margin-left: 0rem;
    }

    .card-body {
        font-size: 0.9rem;
    }

    .nome {
        font-size: 1rem;
    }

    #brandLogo {
        width: 25px;
    }

@media (max-width: 575px) {

    .navbar-brand {
        padding-left: 0rem;
    }